html, body { height: 100%; }

body {
	background-color: black;
}

a {
	color:white;
	text-decoration: none;
}

#left-sidebar {
	background: url(../images/left-sidebar.png) top repeat-y;
	height: 100%;
	position: absolute;
	top: 0;
	width: 50px;
}

#left-sidebar > div {
	margin: 400px 10px 400px 10px;
}

#right-sidebar {
	background: url(../images/right-sidebar-dec.png) left top repeat-y;
	height: 100%;
	padding: 0 0 0 13px;
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
}

#right-sidebar > div {
	background-color: black;
	padding: 200px 0 0 0;
	color: white;
	text-align: center;
}

#main {
	background: url(../images/main-picture-1.png) top no-repeat;
	-webkit-background-size: cover;
	height: 100%;
	margin: 0 300px 0 50px;
}

#inner {
	padding: 250px 0 10px;
}

#inner > div{
	background: url(../images/content-bg.png) repeat-y;
	margin: 0 50px;
}

#siteby {
	color: white;
	text-decoration: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
}