.moduletable_menu {
	padding: 100px 0 0 0;
}

.moduletable_menu a {
	color: white;
	text-decoration: none;
	line-height: 45px;
	text-align: center;
	display: block;
}

.moduletable_menu a:hover {
	text-decoration: underline;
}

.moduletable_menu ul {
	list-style: none;
}

.moduletable_menu li {
	background: url(/templates/template3/images/menu-separator.png) top center no-repeat;
}

.moduletable_menu li:first-child {
	background: none;
}