.left { float: left; }
.right { float: right; }
.clr, .clear { clear: both; }


/* albums */
.ccido-album {
	float: left;
	margin: 10px;
	text-align: center;
}


/* links */

/* wedding party */
.ccido-member {
	clear: both;
	margin: 1em 0;
}

.ccido-member .image {
	float: left;
	margin-left: -85px;
}

/* events/travelinfo */

/* guestbook */
