<!DOCTYPE html>
<html>
<head>
	<!--
	<jdoc:include type="head" />
	-->
	
	<link rel="stylesheet" href="css/template.css" />
	
</head>

<body>
	
	<div id="wrapper">
		<div id="top">
			<!-- <jdoc:include type="modules" name="top" style="xhtml" />-->
			<div class="moduletable">Tyler &amp; Heather</div>
			<div class="moduletable">October 15, 2011</div>
			
			<div class="clear"></div>
		</div>
		
		<div id="body">
			pic here
			
			<div class="clear"></div>
		</div>
		
		<div id="siteby">
			<img src="images/site-by.png" width="11" height="92" alt="Site By" />
		</div>
		
		<div id="menu">
			<!-- <jdoc:include type="modules" name="menu" style="xhtml" />-->
			<div class="moduletable_menu">
				<ul class="menu">
					<li class="active itemId1"><a href="#"><span>About</span></a></li>
					<li class="itemId2"><a href="#"><span>Events</span></a></li>
					<li class="itemId3"><a href="#"><span>Travel Info</span></a></li>
					<li class="itemId4"><a href="#"><span>Registry</span></a></li>
					<li class="itemId5"><a href="#"><span>Wedding Party</span></a></li>
					<li class="itemId6"><a href="#"><span>Countdown</span></a></li>
					<li class="itemId7"><a href="#"><span>Guestboo</span></a></li>
				</ul>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
	
</body>
</html>