body {
	background-color: black;
}

#wrapper {
	margin: 0 auto;
	padding: 87px 57px 20px;
	position: relative;
	width: 960px;
}

#top { 
	color: white; 
	padding: 0 0 10px 0;
}

#body {
	background: url(../images/main-picture-1.jpg) no-repeat;
	border: 1px solid #b5b5b5;
	height: 555px;
}

#siteby {
	right: 40px;
	position: absolute;
	bottom: 70px;
}

/* FIX ME */
#menu {
	background: url(../images/main-bottom-gradient.png) repeat-x ;
}
/*
#main {
	background-color: black;
}

#wrapper { 	 
	width: 1169px;
	padding: 0 50px;
	margin: 0 auto;
}

#head {
	
}

*/