.moduletable_menu {
}

.moduletable_menu a {
	color: white;
	text-decoration: none;
	line-height: 115px; 
	text-align: center;
	width: 137px; 
	display: block;
}

.moduletable_menu a:hover{
	text-decoration: underline;	
}

.moduletable_menu ul {
	list-style: none;
}

.moduletable_menu li {
	background: url(/templates/template1/images/separator.png) right center no-repeat;
	float: left;
}

.moduletable_menu li:first-child > a, .moduletable_menu li:first-child > span{
	background: url(../images/separator.png) left center no-repeat;
}

.moduletable_menu {
}

/* top */
#top .moduletable { float: left; padding-right: 10px; }
#top .moduletable:first-child { margin-left: -50px; } 


